'requirements.txt' file is used to specify the dependencies for a Python project. It typically contains a list of packages that need to be installed for the project to run properly. Each line in the file usually specifies a package and its version, if necessary. For example: